$headerTitleMarginTop: 20px;
$headerTitleMarginRight: 20px;
$headerTitleMarginBottom: 5px;
$headerTitleMarginLeft: 10px;
$contentSectionMarginLeft: 100px;
$portfolioWrapperMarginTop: 30px;
$portfolioImageWidth: 300px;
$portfolioDescriptionPaddingTop: 30px;
$portfolioDescriptionFontsize: 28px;
$descriptionLabelColor: blue;
$discoverMoreBtnBackColor: grey;
$discoverMoreBtnWidth: 250px;
$discoverMoreBtnHeight: 50px;
$discoverMoreBtnFontColor: white;
$discoverMoreBtnFontWeight: 600;
$discoverMoreBtnFontSize: 20px;